*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foot{
  background: #b8c4d6;
}
html{
  font-size: 16px;
}

.navl ,.navu{
  font-size: 2.5rem;
  color: #1648c7;

}
.navl:hover{
  color: #fff;
  background: #c9cfde;
  border-radius: 2px;
}

.texth{
  font-size: 4rem;
}
.navll{
  color: blue;
}
.navL{
  font-size: 4rem;
}
.pfs{
  font-size: 2rem;
}
.nav{
  height:10rem;
}
.listcontact{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}
.lif{
  color: #23262b;
}
.lifl{
  color: #2975f0;
}

  .submit_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .headertext{
    font-size:4rem;
  }
  
  .offcanvas-title{
    font-size: 4ren;
  }
 
  #form-title{
    font-size: 3rem;
  }
