{% extends 'base.html' %}
{% block title %}
  {% endblock %}




{% block content %}

<h2 class="  text-dark text-center mt-2">Emergency Contact Number</h2>
<div class="w-75 mx-auto d-flex justify-content-center  shadow-lg">
  
  <div class=" p-2 mt-3 mt-md-4 mt-lg-4 mt-xl-4  text-center  w-75 w-md-50 w-lg-50 w-xl-50 w-2xl-50 h-50 ">
    <ul class="flex-col list-unstyled">
      <li class=" listcontact  p-2 "><p class="text-danger" >Emergency :</p>  473627272737299</li>
      <li class="listcontact p-2  "><p class="text-danger" >Cardiology :</p> 638229276367338</li>
      <li class="listcontact p-2 "><p class="text-danger" >Casuality :</p> 537392736377282</li>
      <li class=" listcontact p-2 "><p class="text-danger" >Gynecology :</p>537392736377282</li>
      <li class="listcontact p-2 "><p class="text-danger" >Radiology :</p> 537392736377282</li>
      <li class=" listcontact p-2 "><p class="text-danger" >Ortho :</p> 537392736377282</li>
      <li class="listcontact p-2 "><p class="text-danger" >Neurology : </p>  537392736377282
       </li>
      <li class="listcontact p-2 "><p class="text-danger" >pediatric :</p> 537392736377282
       </li>
      <li class="listcontact p-2 "><p class="text-danger" >Surgery :</p> 537392736377282
       </li>
     <li class="listcontact p-2 "><p class="text-danger" >ICU :</p>537392736377282</li>
    </ul>
    
  </div>

</div>
  {% endblock %}