{% extends 'base.html' %}
{% block title %}
doctors
{% endblock %}
{% block content %}
<h1 class="text-center text-primary p-2 mt-5  ">MEDICAL APPOINTMENT</h1>

<h1 class="text-center p-1 text-success ">Our Doctors</h1>
{% for d in dept %}
<div class="card w-100 p-5 ">
  <div class="card-body shadow-lg py-4">
    <h2 class="card-title text-center">Dr.{{d.doc_name}} </h2>
    <h3 class="card-subtitle mb-2 text-body-secondary text-center">Specialized in :{{d.doc_spec}}</h3>
    <p class="card-text fs-3 text-center">Department:
      {{ d.dep_name }}
    </p>

  </div>
</div>
{% endfor %}
{% endblock %}