{% extends 'base.html' %}
{% block title %}
doctors
{% endblock %}
{% block content %}
<h1 class="text-center text-primary p-2 mt-5  listcontact fw-bold">MEDICAL APPOINTMENT</h1>

<h1 class="text-center fw-bold p-1 text-success listcontact ">Our Medical Team</h1>
{% for d in dept %}
<div class="card w-100 p-5 ">
  <div class="card-body shadow-lg py-4">
    <img class="card-img-top" src="{{ d.doc_image.url }}" class="h-25 "alt="Card image cap">
    <h2 class="card-title listcontact text-center fw-bolder p-2 ">Dr.{{d.doc_name}} </h2>
    <h3 class="card-subtitle listcontact mb-2 text-body-secondary fonts text-center">Specialized in :{{d.doc_spec}}</h3>
    <p class="card-text listcontact text-center">Department:
      {{ d.dep_name }}
    </p>
     {% if user.is_authenticated and user.is_superuser or user.is_staff  %}
           
       <p class="card-text listcontact text-center">Phone:
      {{ d.doc_phone }}
    </p>
       <p class="card-text listcontact text-center">Email:
      {{ d.doc_email }}
    </p>
  {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}