{% extends 'base.html' %}
{% block title %}
doctors
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h4 class="p-2 mt-2 fw-bold text-primary text-center">Hello {{ request.user }}. Your Appointments Will Appear Here</h4>
  <div class="table-responsive">
    <table class="mt-2 tabfont table border border-primary">
      <thead>
        <tr>
          <th scope="col">Token.id</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Doctor</th>
          <th scope="col">Booked On</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Booking Time</th>
        </tr>
      </thead>
      <tbody>
        {% for d in bookings %}
        <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.p_name }}</td>
          <td>{{ d.p_phone }}</td>
          <td>{{ d.doc_name }}</td>
          <td>{{ d.booked_on }}</td>
          <td>{{ d.booking_date }}</td>
          <td>{{ d.booking_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
